<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">Atrás
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="carousel">
      <div class="carousel-inner" [style.transform]="'translateX(-' + currentSlide * 100 + '%)'">
        <div class="item" *ngFor="let img of multimedia.imagenes" (click)="openModal(img.foto)">
          <img [src]="img.foto"/>
        </div>
      </div>
    </div>
    <ion-row style="margin-top: -20px;">
      <ion-col size="3"></ion-col>
      <ion-col size="3">
        <ion-button (click)="next()" expand="block" fill="clear" shape="round">
          <ion-icon slot="icon-only" name="arrow-back-circle" (click)="previous()"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button (click)="next()" expand="block" fill="clear" shape="round">
          <ion-icon slot="icon-only" name="arrow-forward-circle" (click)="next()"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
    <ion-card-content>
      <ion-card-title>
        {{multimedia.texto}}
      </ion-card-title>
      <p>
        {{multimedia.fecha}}
      </p>
    </ion-card-content>
  </ion-card>  
</ion-content>