<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">Atrás
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cont">
    <div class="color1">
      <label class="textfechalit">{{multimedia.data[0].post_fecha_registro}}</label>
      <br>
      <label class="textTitulo biography2">Titulo: {{multimedia.data[0].titulo}}</label>
      <div class="biography">Descripcion: {{multimedia.data[0].descripcion}}</div>
      <label class="textPara">Para: {{multimedia.data[0].target}}</label>
      <br>
      <label class="textCodigo">Codigo: {{multimedia.data[0].codigo}}</label>
    </div>
  </div>

  <span class="screen__background__shape screen__background__shape1"></span>
  <span class="screen__background__shape screen__background__shape2"></span>
  <span class="screen__background__shape screen__background__shape3"></span>
  <span class="screen__background__shape screen__background__shape4"></span>
</ion-content>
